.title {
    font-family: 'Lobster', sans-serif;
}

.text-blue {
    color: blue;
}

.background-gray {
    background-color: rgb(219, 211, 211);
}

.font-cool {
    font-family: 'Roboto', 'Julius Sans One', sans-serif;
}

.font-larger {
    font-size: larger;
}

.font-bold {
    font-weight: bolder;
}

.center {
    text-align: center;
}

h2 {
    text-decoration-line: underline;
}

span {
    font-size: 2em;
}