body {
    background-image: url(https://images.pexels.com/photos/884454/pexels-photo-884454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=690), 
                      url(backgrounds-blank-blue-953214.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction {
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(250, 167, 43, 0.850);
    margin-bottom: 1%;
}

h1 {
    color: rgb(0, 0, 139);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-family: 'Julius Sans One', sans-serif;
    background-color: whitesmoke;
    border-color: black;
    border-style: groove;
}

div {
    background-color: bisque;
    border: ridge 2px black;
    /* border-color: black;
    border-style: ridge; */
}

h3 {
    color: rgba(236, 123, 16, 0.897);
    font-family: 'Julius Sans One', sans-serif;
    text-decoration-line: underline;
}

ul {
    color: indigo;
    font-family: 'Julius Sans One', sans-serif;
}