body {
    background-image: url(https://images.pexels.com/photos/884454/pexels-photo-884454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=690), 
                      url(backgrounds-blank-blue-953214.jpg);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    border-radius: 4px;
    background-color: rgba(250, 167, 43, 0.850);
    margin-bottom: 1%;
}

h1 {
    color: rgb(0, 0, 139);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-family: 'Lobster Two', 'Julius Sans One', sans-serif;
    background-color: whitesmoke;
    border-color: black;
    border-style: groove;
    border-radius: 4px;
}

div {
    background-color: rgba(255, 228, 196, 0.801);
    border: ridge 2px black;
    border-radius: 4px;
    /* border-color: black;
    border-style: ridge; */
}

h3 {
    color: rgba(236, 123, 16, 0.897);
    font-family: 'Julius Sans One', sans-serif;
    /* font-weight: 900; */
    font-size: 1.3em;
    text-decoration-line: underline;
}

ul {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: 700;
}

.hover-color :hover {
    background-color: chartreuse;
}

.box-md {
    width: 50%;
}